.reg{
    border-radius: 5px;
    padding: 20px;
    height: 60%;
    width: 30%;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 35%;
    font-family: cursive;
    box-shadow: 0 0 50px black;
}
#s1{
    width: 20%;
    float: left;
}
#s2{
    width: 80%;
    float: left;
}

h2{
    font-weight: bold;
    border-color: white;
    color: chartreuse;
}
#pq{
    margin-top: 30%;
    font-size: 12px;
    font-family:serif;
}
input[type=text],input[type=password],input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:cursive;
    font-size: 15px;
}
input[type=submit]:hover {
    background-color: #45a049;
}